.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #152735;
	border-width: 0px;
}

.footer-links a, p {
	color: white;
}

.bullets:hover {
	text-decoration: none;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
	color: white;
}

.navbar-inverse .navbar-brand:hover {
	margin-left: 0px;
	color: #769cb1;
}

.nav-header {
	margin-top: -3px;
}

@media (max-width: 767px) {
	div.navbar-links {
		display: none;
	}
	.navbar {
		height: 10px;
	}
	div.navbar-mobile-links {
		margin-top: -50px;
		margin-right: -10px;
	}
}

@media (min-width: 768px) {
	div.navbar-mobile-links {
		display: none;
	}
}

.fa .fa-github {
	color: white;
}