.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #152735;
	border-width: 0px;
}

.footer-links a, p {
	color: white;
}

.bullets:hover {
	text-decoration: none;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
	color: white;
}

.navbar-brand:hover {
	margin-left: 0px;
	color: #769cb1;
}

.nav-header {
	margin-top: -3px;
}

@media (max-width: 767px) {
	div.navbar-links {
		display: none;
	}
	.navbar {
		height: 10px;
	}
	div.navbar-mobile-links {
		margin-top: -50px;
		margin-right: -10px;
	}
}

@media (min-width: 768px) {
	div.navbar-mobile-links {
		display: none;
	}
}

.fa .fa-github {
	color: white;
}

/* Stolen Code */

nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}