.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #152735;
	border-width: 0px;
}

.footer-links a, p {
	color: white;
}

.bullets:hover {
	text-decoration: none;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
	color: white;
}

.navbar-inverse .navbar-brand:hover {
	margin-left: 0px;
	color: #769cb1;
}