.btn {
	width: 200px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	padding: 8px 16px;
	margin: 5px;
	border-radius: 0px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.btn:hover {
	background-color: #fff;
	color: #162835;
	border: 1px solid #162835;
}