.volunteerPanel {
	/*background: rgba(0, 0, 0, 1.0);*/
	color: red;
	padding-bottom: 20px;
	background: -moz-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(19,19,19,0.98) 45%, rgba(19,19,19,1) 46%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(28,28,28,0) 0%,rgba(19,19,19,0.98) 45%,rgba(19,19,19,1) 46%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(28,28,28,0) 0%,rgba(19,19,19,0.98) 45%,rgba(19,19,19,1) 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c1c1c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.smallDog {
	height: 100px;
	width: 100px;
}

#welcome-username {
	margin-bottom: 50px;
	margin-top: 30px;
}

#registered-volunteers-title {

}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

/* <hr> rule */

.row-separator {
	margin-top: 85px;
	margin-bottom: 75px;
	margin-left: 25%;
	margin-right: 25%;
}

.bottom-page-separator {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 25%;
	margin-right: 25%;
	border-color: transparent;
}

body {
	background-color: black;
}

#login-banner {
	background: linear-gradient(
		rgba(0, 0, 0, 0.65),
		rgba(0, 0, 0, 0.65)),
	url(../../images/check.jpg) !important;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh !important;
    position: relative;
    border-radius: 0px !important;
    margin-bottom: 0px;
    padding-bottom: 0px !important;
}

.form-field {
	background-color: transparent;
	color: white;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding-top: 20px;
	width: 100%;
	border-bottom-width: 1px;
	line-height: 30px;
}

.form-inline .form-group {
	width: 100%;
	margin-bottom: 10px;
}

.form-field::placeholder {
	color: lightgrey;
}

/* Removes annoying blue hover state (hurts accessibility though :( ). */
.form-field:focus, button:focus, input:focus, select:focus, textarea:focus {
	outline: none;
}

.bottom-page-padding {
	padding-bottom: 100px;
}

input[type=submit] {
	width: 300px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	padding: 8px 16px;
	margin: 26px 0;
	border-radius: 0px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

input[type=submit]:hover {
	background-color: #fff;
	color: #162835;
	border: 1px solid white;
}

.form-button {
	width: 98%;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.details-text {
	font-size: 14px !important;
}